.formMargin {
  margin-top: 5px;
}
.buttonMargin {
  margin-top: 10px;
}
.skillit-logo {
  max-height: 50px;
  float: left;
  margin-top: -14px;
}
.chosen-wants .row,
.chosen-offers .row {
  margin: 20px auto;
}
@media screen and (max-width: 991px) {
  .chosen-wants .row .col-md-4,
  .chosen-offers .row .col-md-4 {
    padding: 15px;
    clear: both;
  }
}
.all-wantsandoffers a {
  display: block;
  float: left;
  margin: 7px;
  padding: 5px;
  background-color: #50A871;
  color: #FFFFFF;
}
.all-wantsandoffers a:hover {
  background-color: #A8637B;
  text-decoration: none;
}
.custom-form input.form-control {
  width: 55%;
  float: left;
  margin-right: 3px;
}
.custom-form input.btn {
  float: left;
}
.btn-select-subject {
  text-align: center;
  margin-top: 50px;
}
/*masonry grid styling*/
.grid {
  height: 800px;
  width: 75%;
  margin: 0 auto;
  margin-top: 5px;
}
.grid-item {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  float: left;
  height: 60px;
  margin: 3px;
  text-align: center;
  width: 80px;
}
.subjects-box {
  background-color: grey;
  color: #FFFFFF;
}
.all-wants,
.all-offers {
  list-style: none;
}
.all-wants li.active,
.all-offers li.active {
  color: blue;
}
