h2 Learn a New Skill Today!
.main(ng-controller="exploreController as explore")
  .mainUl
    li Language Learning!
      ul(class="subUl")
        li French
        li Spanish
        li Japanese
    li Technology!
      ul(class="subUl")
        li Photography
        li Welding
        li Javascript
    li Sports
      ul(class="subUl")
        li Basketball
        li Baseball
        li Wrestling
    li Knowledge
      ul(class="subUl")
        li Art History
        li Philosophy
        li History
    li Wild n Wacky
      ul(class="subUl")
        li Juggling
        li Yodeling
        li Dog Whispering
    li Business
      ul(class="subUl")
        li Investing
        li Accounting
        li Networking
    li Craft and Design
      ul(class="subUl")
        li Weaving
        li Pottery
        li Painting
.picDiv